.solitaire-cols {
    display: flex;
    flex-direction: row;
}

.solitaire-header {
    display: flex;
    flex-direction: row;
}

.solitaire-sources {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    width: 100%;
}

.solitaire-sources .react-card {
    margin-top: 10px;
}