.solitaire-cols {
    display: flex;
    flex-direction: row;
}

.solitaire-board {
    background-color: darkolivegreen;
    box-shadow: inset 0px 0px 20px black;
    height: 100vh;
    overflow: hidden;
}

.solitaire-dealer {
    display: flex;
    flex-direction: row;
}

.solitaire-sources {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.solitaire-source-mat {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.solitaire-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.solitaire-buttons button {
    margin-left: 5px;
    margin-right: 5px;
}

.solitaire-buttons button:first-child {
    margin-left: 0px;
}


.solitaire-buttons button:last-child {
    margin-right: 0px;
}

.solitaire-reset {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.solitaire-undo {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.change-deal {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.solitaire-sources .react-card {
    margin-top: 10px;
}

.solitaire-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
}
.solitaire-stats p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
